In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/gdrive', force_remount = True)

Mounted at /gdrive

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
df = pd.read_csv('/gdrive/MyDrive/J/02-21-2018.csv',sep = "," , low_memory=False)

In [ ]:
df

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6,21/02/2018 08:33:25,37953,5,3,135,127,135,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1,500,17,21/02/2018 08:33:06,117573474,3,0,1500,0,500,500,...,8,0.0,0.0,0,0,58800000.0,23800000.0,75600000,42000000,Benign
2,500,17,21/02/2018 08:33:06,117573474,3,0,1500,0,500,500,...,8,0.0,0.0,0,0,58800000.0,23800000.0,75600000,42000000,Benign
3,500,17,21/02/2018 08:33:11,99743998,5,0,2500,0,500,500,...,8,4000290.0,0.0,4000290,4000290,31900000.0,37900000.0,75600000,7200397,Benign
4,500,17,21/02/2018 08:33:11,99743999,5,0,2500,0,500,500,...,8,4000286.0,0.0,4000286,4000286,31900000.0,37900000.0,75600000,7200399,Benign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,55484,6,21/02/2018 02:33:29,1252,5,2,935,274,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1048571,57624,6,21/02/2018 02:33:29,19055,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1048572,57623,6,21/02/2018 02:33:29,36677,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1048573,57625,6,21/02/2018 02:33:29,1849,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1048574,58120,6,21/02/2018 02:33:29,20580,5,2,935,299,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign

In [ ]:
#칼럼이 ?인 열 제거
# del df['Unnamed: 0']

In [ ]:
# df.corr()["DDOS"].sort_values(ascending=False)

In [ ]:
df['Label'].value_counts()

DDOS attack-HOIC        686012
Benign                  360833
DDOS attack-LOIC-UDP      1730
Name: Label, dtype: int64

In [ ]:
#결측치확인
df.isnull().sum()

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64

In [ ]:
#proto unqiue 확인
df.Label.unique()

array(['Benign', 'DDOS attack-LOIC-UDP', 'DDOS attack-HOIC'], dtype=object)

In [ ]:
LOIC = df['Label'] == 'DDOS attack-LOIC-UDP'
LOIC = df[LOIC]

In [ ]:
df

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6,21/02/2018 08:33:25,37953,5,3,135,127,135,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1,500,17,21/02/2018 08:33:06,117573474,3,0,1500,0,500,500,...,8,0.0,0.0,0,0,58800000.0,23800000.0,75600000,42000000,Benign
2,500,17,21/02/2018 08:33:06,117573474,3,0,1500,0,500,500,...,8,0.0,0.0,0,0,58800000.0,23800000.0,75600000,42000000,Benign
3,500,17,21/02/2018 08:33:11,99743998,5,0,2500,0,500,500,...,8,4000290.0,0.0,4000290,4000290,31900000.0,37900000.0,75600000,7200397,Benign
4,500,17,21/02/2018 08:33:11,99743999,5,0,2500,0,500,500,...,8,4000286.0,0.0,4000286,4000286,31900000.0,37900000.0,75600000,7200399,Benign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,55484,6,21/02/2018 02:33:29,1252,5,2,935,274,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1048571,57624,6,21/02/2018 02:33:29,19055,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1048572,57623,6,21/02/2018 02:33:29,36677,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1048573,57625,6,21/02/2018 02:33:29,1849,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1048574,58120,6,21/02/2018 02:33:29,20580,5,2,935,299,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign

In [ ]:
#LOIC값 삭제
df = df[df.Label != 'DDOS attack-LOIC-UDP']

In [ ]:
df["Label"].value_counts()

DDOS attack-HOIC    686012
Benign              360833
Name: Label, dtype: int64

In [ ]:
df.Label.unique()

array(['Benign', 'DDOS attack-HOIC'], dtype=object)

In [ ]:
df

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6,21/02/2018 08:33:25,37953,5,3,135,127,135,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1,500,17,21/02/2018 08:33:06,117573474,3,0,1500,0,500,500,...,8,0.0,0.0,0,0,58800000.0,23800000.0,75600000,42000000,Benign
2,500,17,21/02/2018 08:33:06,117573474,3,0,1500,0,500,500,...,8,0.0,0.0,0,0,58800000.0,23800000.0,75600000,42000000,Benign
3,500,17,21/02/2018 08:33:11,99743998,5,0,2500,0,500,500,...,8,4000290.0,0.0,4000290,4000290,31900000.0,37900000.0,75600000,7200397,Benign
4,500,17,21/02/2018 08:33:11,99743999,5,0,2500,0,500,500,...,8,4000286.0,0.0,4000286,4000286,31900000.0,37900000.0,75600000,7200399,Benign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,55484,6,21/02/2018 02:33:29,1252,5,2,935,274,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1048571,57624,6,21/02/2018 02:33:29,19055,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1048572,57623,6,21/02/2018 02:33:29,36677,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1048573,57625,6,21/02/2018 02:33:29,1849,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1048574,58120,6,21/02/2018 02:33:29,20580,5,2,935,299,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign

In [ ]:
te1 = pd.get_dummies(df['Label'])

In [ ]:
te1

         Benign  DDOS attack-HOIC
0             1                 0
1             1                 0
2             1                 0
3             1                 0
4             1                 0
...         ...               ...
1048570       1                 0
1048571       1                 0
1048572       1                 0
1048573       1                 0
1048574       1                 0

[1046845 rows x 2 columns]

In [ ]:
te1.value_counts()

Benign  DDOS attack-HOIC
0       1                   686012
1       0                   360833
dtype: int64

In [ ]:
te1 = pd.DataFrame(te1)

In [ ]:
JA = pd.concat([df,te1], axis = 1)

In [ ]:
JA

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label,Benign,DDOS attack-HOIC
0,80,6,21/02/2018 08:33:25,37953,5,3,135,127,135,0,...,0.0,0,0,0.0,0.0,0,0,Benign,1,0
1,500,17,21/02/2018 08:33:06,117573474,3,0,1500,0,500,500,...,0.0,0,0,58800000.0,23800000.0,75600000,42000000,Benign,1,0
2,500,17,21/02/2018 08:33:06,117573474,3,0,1500,0,500,500,...,0.0,0,0,58800000.0,23800000.0,75600000,42000000,Benign,1,0
3,500,17,21/02/2018 08:33:11,99743998,5,0,2500,0,500,500,...,0.0,4000290,4000290,31900000.0,37900000.0,75600000,7200397,Benign,1,0
4,500,17,21/02/2018 08:33:11,99743999,5,0,2500,0,500,500,...,0.0,4000286,4000286,31900000.0,37900000.0,75600000,7200399,Benign,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,55484,6,21/02/2018 02:33:29,1252,5,2,935,274,935,0,...,0.0,0,0,0.0,0.0,0,0,Benign,1,0
1048571,57624,6,21/02/2018 02:33:29,19055,5,2,935,341,935,0,...,0.0,0,0,0.0,0.0,0,0,Benign,1,0
1048572,57623,6,21/02/2018 02:33:29,36677,5,2,935,341,935,0,...,0.0,0,0,0.0,0.0,0,0,Benign,1,0
1048573,57625,6,21/02/2018 02:33:29,1849,5,2,935,341,935,0,...,0.0,0,0,0.0,0.0,0,0,Benign,1,0
1048574,58120,6,21/02/2018 02:33:29,20580,5,2,935,299,935,0,...,0.0,0,0,0.0,0.0,0,0,Benign,1,0

In [ ]:
JA.columns

Index(['Dst Port', 'Protocol', 'Timestamp', 'Flow Duration', 'Tot Fwd Pkts',
       'Tot Bwd Pkts', 'TotLen Fwd Pkts', 'TotLen Bwd Pkts', 'Fwd Pkt Len Max',
       'Fwd Pkt Len Min', 'Fwd Pkt Len Mean', 'Fwd Pkt Len Std',
       'Bwd Pkt Len Max', 'Bwd Pkt Len Min', 'Bwd Pkt Len Mean',
       'Bwd Pkt Len Std', 'Flow Byts/s', 'Flow Pkts/s', 'Flow IAT Mean',
       'Flow IAT Std', 'Flow IAT Max', 'Flow IAT Min', 'Fwd IAT Tot',
       'Fwd IAT Mean', 'Fwd IAT Std', 'Fwd IAT Max', 'Fwd IAT Min',
       'Bwd IAT Tot', 'Bwd IAT Mean', 'Bwd IAT Std', 'Bwd IAT Max',
       'Bwd IAT Min', 'Fwd PSH Flags', 'Bwd PSH Flags', 'Fwd URG Flags',
       'Bwd URG Flags', 'Fwd Header Len', 'Bwd Header Len', 'Fwd Pkts/s',
       'Bwd Pkts/s', 'Pkt Len Min', 'Pkt Len Max', 'Pkt Len Mean',
       'Pkt Len Std', 'Pkt Len Var', 'FIN Flag Cnt', 'SYN Flag Cnt',
       'RST Flag Cnt', 'PSH Flag Cnt', 'ACK Flag Cnt', 'URG Flag Cnt',
       'CWE Flag Count', 'ECE Flag Cnt', 'Down/Up Ratio', 'Pkt Size Avg',
       'Fwd Seg Size Avg', 'Bwd Seg Size Avg', 'Fwd Byts/b Avg',
       'Fwd Pkts/b Avg', 'Fwd Blk Rate Avg', 'Bwd Byts/b Avg',
       'Bwd Pkts/b Avg', 'Bwd Blk Rate Avg', 'Subflow Fwd Pkts',
       'Subflow Fwd Byts', 'Subflow Bwd Pkts', 'Subflow Bwd Byts',
       'Init Fwd Win Byts', 'Init Bwd Win Byts', 'Fwd Act Data Pkts',
       'Fwd Seg Size Min', 'Active Mean', 'Active Std', 'Active Max',
       'Active Min', 'Idle Mean', 'Idle Std', 'Idle Max', 'Idle Min', 'Label',
       'Benign', 'DDOS attack-HOIC'],
      dtype='object')

In [ ]:
re0 = JA.rename(columns = {'Benign':'normal'}, inplace = True)
re1 = JA.rename(columns = {'DDOS attack-HOIC':'DDOS'}, inplace = True)
JA

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label,normal,DDOS
0,80,6,21/02/2018 08:33:25,37953,5,3,135,127,135,0,...,0.0,0,0,0.0,0.0,0,0,Benign,1,0
1,500,17,21/02/2018 08:33:06,117573474,3,0,1500,0,500,500,...,0.0,0,0,58800000.0,23800000.0,75600000,42000000,Benign,1,0
2,500,17,21/02/2018 08:33:06,117573474,3,0,1500,0,500,500,...,0.0,0,0,58800000.0,23800000.0,75600000,42000000,Benign,1,0
3,500,17,21/02/2018 08:33:11,99743998,5,0,2500,0,500,500,...,0.0,4000290,4000290,31900000.0,37900000.0,75600000,7200397,Benign,1,0
4,500,17,21/02/2018 08:33:11,99743999,5,0,2500,0,500,500,...,0.0,4000286,4000286,31900000.0,37900000.0,75600000,7200399,Benign,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,55484,6,21/02/2018 02:33:29,1252,5,2,935,274,935,0,...,0.0,0,0,0.0,0.0,0,0,Benign,1,0
1048571,57624,6,21/02/2018 02:33:29,19055,5,2,935,341,935,0,...,0.0,0,0,0.0,0.0,0,0,Benign,1,0
1048572,57623,6,21/02/2018 02:33:29,36677,5,2,935,341,935,0,...,0.0,0,0,0.0,0.0,0,0,Benign,1,0
1048573,57625,6,21/02/2018 02:33:29,1849,5,2,935,341,935,0,...,0.0,0,0,0.0,0.0,0,0,Benign,1,0
1048574,58120,6,21/02/2018 02:33:29,20580,5,2,935,299,935,0,...,0.0,0,0,0.0,0.0,0,0,Benign,1,0

In [ ]:
#상관관계 분석
#df.corr()  
#1에 가까워질 수록, 하나가 증가할때 다른 하나도 함께 증가하는 경향이 나타나고
#-1에 가까워질 수록, 하나가 증가하면 다른 하나가 감소하는 경향
#raw와 columns가 동일할경우 = 자신에 대한 상관계수
JA.corr()["DDOS"].sort_values(ascending=False)

DDOS                1.000000
ACK Flag Cnt        0.723469
Down/Up Ratio       0.311150
Fwd Seg Size Min    0.052687
Bwd IAT Std         0.004575
                      ...
Fwd Pkts/b Avg           NaN
Fwd Blk Rate Avg         NaN
Bwd Byts/b Avg           NaN
Bwd Pkts/b Avg           NaN
Bwd Blk Rate Avg         NaN
Name: DDOS, Length: 80, dtype: float64

In [ ]:
#Label값 삭제
JA = JA.drop(['Label'], axis=1)

In [ ]:
JA = JA.drop(['normal'], axis=1)

In [ ]:
JA

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,DDOS
0,80,6,21/02/2018 08:33:25,37953,5,3,135,127,135,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,0
1,500,17,21/02/2018 08:33:06,117573474,3,0,1500,0,500,500,...,8,0.0,0.0,0,0,58800000.0,23800000.0,75600000,42000000,0
2,500,17,21/02/2018 08:33:06,117573474,3,0,1500,0,500,500,...,8,0.0,0.0,0,0,58800000.0,23800000.0,75600000,42000000,0
3,500,17,21/02/2018 08:33:11,99743998,5,0,2500,0,500,500,...,8,4000290.0,0.0,4000290,4000290,31900000.0,37900000.0,75600000,7200397,0
4,500,17,21/02/2018 08:33:11,99743999,5,0,2500,0,500,500,...,8,4000286.0,0.0,4000286,4000286,31900000.0,37900000.0,75600000,7200399,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,55484,6,21/02/2018 02:33:29,1252,5,2,935,274,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048571,57624,6,21/02/2018 02:33:29,19055,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048572,57623,6,21/02/2018 02:33:29,36677,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048573,57625,6,21/02/2018 02:33:29,1849,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048574,58120,6,21/02/2018 02:33:29,20580,5,2,935,299,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0

In [ ]:
#결측치 확인
JA.isnull().sum()

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
DDOS             0
Length: 80, dtype: int64

In [ ]:
JA['Fwd Byts/b Avg'].value_counts()

0    1046845
Name: Fwd Byts/b Avg, dtype: int64

In [ ]:
JA.columns

Index(['Dst Port', 'Protocol', 'Timestamp', 'Flow Duration', 'Tot Fwd Pkts',
       'Tot Bwd Pkts', 'TotLen Fwd Pkts', 'TotLen Bwd Pkts', 'Fwd Pkt Len Max',
       'Fwd Pkt Len Min', 'Fwd Pkt Len Mean', 'Fwd Pkt Len Std',
       'Bwd Pkt Len Max', 'Bwd Pkt Len Min', 'Bwd Pkt Len Mean',
       'Bwd Pkt Len Std', 'Flow Byts/s', 'Flow Pkts/s', 'Flow IAT Mean',
       'Flow IAT Std', 'Flow IAT Max', 'Flow IAT Min', 'Fwd IAT Tot',
       'Fwd IAT Mean', 'Fwd IAT Std', 'Fwd IAT Max', 'Fwd IAT Min',
       'Bwd IAT Tot', 'Bwd IAT Mean', 'Bwd IAT Std', 'Bwd IAT Max',
       'Bwd IAT Min', 'Fwd PSH Flags', 'Bwd PSH Flags', 'Fwd URG Flags',
       'Bwd URG Flags', 'Fwd Header Len', 'Bwd Header Len', 'Fwd Pkts/s',
       'Bwd Pkts/s', 'Pkt Len Min', 'Pkt Len Max', 'Pkt Len Mean',
       'Pkt Len Std', 'Pkt Len Var', 'FIN Flag Cnt', 'SYN Flag Cnt',
       'RST Flag Cnt', 'PSH Flag Cnt', 'ACK Flag Cnt', 'URG Flag Cnt',
       'CWE Flag Count', 'ECE Flag Cnt', 'Down/Up Ratio', 'Pkt Size Avg',
       'Fwd Seg Size Avg', 'Bwd Seg Size Avg', 'Fwd Byts/b Avg',
       'Fwd Pkts/b Avg', 'Fwd Blk Rate Avg', 'Bwd Byts/b Avg',
       'Bwd Pkts/b Avg', 'Bwd Blk Rate Avg', 'Subflow Fwd Pkts',
       'Subflow Fwd Byts', 'Subflow Bwd Pkts', 'Subflow Bwd Byts',
       'Init Fwd Win Byts', 'Init Bwd Win Byts', 'Fwd Act Data Pkts',
       'Fwd Seg Size Min', 'Active Mean', 'Active Std', 'Active Max',
       'Active Min', 'Idle Mean', 'Idle Std', 'Idle Max', 'Idle Min', 'DDOS'],
      dtype='object')

In [ ]:
#원래는 각 열 입력했을 때 안나와서 
# JA.columns = ['DstPort', 'Protocol', 'Timestamp', 'FlowDuration', 'TotFwdPkts',
#        'TotBwdPkts', 'TotLenFwdPkts', 'TotLenBwdPkts', 'FwdPktLenMax',
#        'FwdPktLenMin', 'FwdPktLenMean', 'FwdPktLenStd',
#        'BwdPktLenMax', 'BwdPktLenMin', 'BwdPktLenMean',
#        'BwdPktLenStd', 'FlowByts_s', 'FlowPkts_s', 'FlowIATMean',
#        'FlowIATStd', 'FlowIATMax', 'FlowIATMin', 'FwdIATTot',
#        'FwdIATMean', 'FwdIATStd', 'FwdIATMax', 'FwdIATMin',
#        'BwdIATTot', 'BwdIATMean', 'BwdIATStd', 'BwdIATMax',
#        'BwdIATMin', 'FwdPSHFlags', 'BwdPSHFlags', 'FwdURGFlags',
#        'BwdURGFlags', 'FwdHeaderLen', 'BwdHeaderLen', 'FwdPkts_s',
#        'BwdPkts_s', 'PktLenMin', 'PktLenMax', 'PktLenMean',
#        'PktLenStd', 'PktLenVar', 'FINFlagCnt', 'SYNFlagCnt',
#        'RSTFlagCnt', 'PSHFlagCnt', 'ACKFlagCnt', 'URGFlagCnt',
#        'CWEFlagCount', 'ECEFlagCnt', 'Down_UpRatio', 'PktSizeAvg',
#        'FwdSegSizeAvg', 'BwdSegSizeAvg', 'FwdByts_bAvg',
#        'FwdPkts_bAvg', 'FwdBlkRateAvg', 'BwdByts_bAvg',
#        'BwdPkts_bAvg', 'BwdBlkRateAvg', 'SubflowFwdPkts',
#        'SubflowFwdByts', 'SubflowBwdPkts', 'SubflowBwdByts',
#        'InitFwdWinByts', 'InitBwdWinByts', 'FwdActDataPkts',
#        'FwdSegSizeMin', 'ActiveMean', 'ActiveStd', 'ActiveMax',
#        'ActiveMin', 'IdleMean', 'IdleStd', 'IdleMax', 'IdleMin', 'DDOS' ]

In [ ]:
JA

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,DDOS
0,80,6,21/02/2018 08:33:25,37953,5,3,135,127,135,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,0
1,500,17,21/02/2018 08:33:06,117573474,3,0,1500,0,500,500,...,8,0.0,0.0,0,0,58800000.0,23800000.0,75600000,42000000,0
2,500,17,21/02/2018 08:33:06,117573474,3,0,1500,0,500,500,...,8,0.0,0.0,0,0,58800000.0,23800000.0,75600000,42000000,0
3,500,17,21/02/2018 08:33:11,99743998,5,0,2500,0,500,500,...,8,4000290.0,0.0,4000290,4000290,31900000.0,37900000.0,75600000,7200397,0
4,500,17,21/02/2018 08:33:11,99743999,5,0,2500,0,500,500,...,8,4000286.0,0.0,4000286,4000286,31900000.0,37900000.0,75600000,7200399,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,55484,6,21/02/2018 02:33:29,1252,5,2,935,274,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048571,57624,6,21/02/2018 02:33:29,19055,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048572,57623,6,21/02/2018 02:33:29,36677,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048573,57625,6,21/02/2018 02:33:29,1849,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048574,58120,6,21/02/2018 02:33:29,20580,5,2,935,299,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0

In [ ]:
# # df.isnull().sum()
# # df['A'].isnull().sum() #A 컬럼에서 결측치 갯수
# # df.notnull().sum()
# #양쪽공백 모두 제거
# JA["DDOS"].str.strip()

In [ ]:
# def cleaning(x) :
#   if str(x).find("(") != -1 :
#     return str(x).split("(")[1].replace(")","") 
#   return str(x)

In [ ]:
# JA['Label']=JA['Label'].fillna("NONE")
# JA['Label']=JA['Label'].apply(cleaning).apply(lambda x:x.replace(" ",""))

In [ ]:
JA.DDOS.unique()

array([0, 1], dtype=uint8)

In [ ]:
JA.DDOS.value_counts()

1    686012
0    360833
Name: DDOS, dtype: int64

In [ ]:
# JA.FwdPktLenMean.unique()

In [ ]:
N = JA['Timestamp']

In [ ]:
N = pd.DataFrame({'Time':N})

In [ ]:
N = pd.to_datetime(N['Time'])

In [ ]:
N

0         2018-02-21 08:33:25
1         2018-02-21 08:33:06
2         2018-02-21 08:33:06
3         2018-02-21 08:33:11
4         2018-02-21 08:33:11
                  ...
1048570   2018-02-21 02:33:29
1048571   2018-02-21 02:33:29
1048572   2018-02-21 02:33:29
1048573   2018-02-21 02:33:29
1048574   2018-02-21 02:33:29
Name: Time, Length: 1046845, dtype: datetime64[ns]

In [ ]:
N = pd.DataFrame({'Time':N})

In [ ]:
N['Time']= N['Time'].astype('str')

In [ ]:
name_split = N["Time"].str.split(" ")
N["date"] = name_split.str.get(0)
N["time"] = name_split.str.get(1)

In [ ]:
del N['Time']

In [ ]:
del N["date"]

In [ ]:
N

             time
0        08:33:25
1        08:33:06
2        08:33:06
3        08:33:11
4        08:33:11
...           ...
1048570  02:33:29
1048571  02:33:29
1048572  02:33:29
1048573  02:33:29
1048574  02:33:29

[1046845 rows x 1 columns]

In [ ]:
K = pd.concat([N,JA], axis = 1)

In [ ]:
K

,time,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,DDOS
0,08:33:25,80,6,21/02/2018 08:33:25,37953,5,3,135,127,135,...,32,0.0,0.0,0,0,0.0,0.0,0,0,0
1,08:33:06,500,17,21/02/2018 08:33:06,117573474,3,0,1500,0,500,...,8,0.0,0.0,0,0,58800000.0,23800000.0,75600000,42000000,0
2,08:33:06,500,17,21/02/2018 08:33:06,117573474,3,0,1500,0,500,...,8,0.0,0.0,0,0,58800000.0,23800000.0,75600000,42000000,0
3,08:33:11,500,17,21/02/2018 08:33:11,99743998,5,0,2500,0,500,...,8,4000290.0,0.0,4000290,4000290,31900000.0,37900000.0,75600000,7200397,0
4,08:33:11,500,17,21/02/2018 08:33:11,99743999,5,0,2500,0,500,...,8,4000286.0,0.0,4000286,4000286,31900000.0,37900000.0,75600000,7200399,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,02:33:29,55484,6,21/02/2018 02:33:29,1252,5,2,935,274,935,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048571,02:33:29,57624,6,21/02/2018 02:33:29,19055,5,2,935,341,935,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048572,02:33:29,57623,6,21/02/2018 02:33:29,36677,5,2,935,341,935,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048573,02:33:29,57625,6,21/02/2018 02:33:29,1849,5,2,935,341,935,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048574,02:33:29,58120,6,21/02/2018 02:33:29,20580,5,2,935,299,935,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0

In [ ]:
del K['Timestamp']

In [ ]:
K.isnull().sum()

time             0
Dst Port         0
Protocol         0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
DDOS             0
Length: 80, dtype: int64

In [ ]:
K.corr()["DDOS"].sort_values(ascending=False)

DDOS                1.000000
ACK Flag Cnt        0.723469
Down/Up Ratio       0.311150
Fwd Seg Size Min    0.052687
Bwd IAT Std         0.004575
                      ...
Fwd Pkts/b Avg           NaN
Fwd Blk Rate Avg         NaN
Bwd Byts/b Avg           NaN
Bwd Pkts/b Avg           NaN
Bwd Blk Rate Avg         NaN
Name: DDOS, Length: 79, dtype: float64

In [ ]:
K['Bwd Blk Rate Avg']

0          0
1          0
2          0
3          0
4          0
          ..
1048570    0
1048571    0
1048572    0
1048573    0
1048574    0
Name: Bwd Blk Rate Avg, Length: 1046845, dtype: int64

In [ ]:
#any: 1개 라도 NaN값이 존재시 drop
K.dropna(how='any')

,time,Dst Port,Protocol,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,DDOS
0,08:33:25,80,6,37953,5,3,135,127,135,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,0
1,08:33:06,500,17,117573474,3,0,1500,0,500,500,...,8,0.0,0.0,0,0,58800000.0,23800000.0,75600000,42000000,0
2,08:33:06,500,17,117573474,3,0,1500,0,500,500,...,8,0.0,0.0,0,0,58800000.0,23800000.0,75600000,42000000,0
3,08:33:11,500,17,99743998,5,0,2500,0,500,500,...,8,4000290.0,0.0,4000290,4000290,31900000.0,37900000.0,75600000,7200397,0
4,08:33:11,500,17,99743999,5,0,2500,0,500,500,...,8,4000286.0,0.0,4000286,4000286,31900000.0,37900000.0,75600000,7200399,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,02:33:29,55484,6,1252,5,2,935,274,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048571,02:33:29,57624,6,19055,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048572,02:33:29,57623,6,36677,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048573,02:33:29,57625,6,1849,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048574,02:33:29,58120,6,20580,5,2,935,299,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0

In [ ]:
K.isnull().sum()

time             0
Dst Port         0
Protocol         0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
DDOS             0
Length: 80, dtype: int64

In [ ]:
K.replace([np.inf, -np.inf], np.nan).dropna

<bound method DataFrame.dropna of              time  Dst Port  Protocol  Flow Duration  Tot Fwd Pkts  \
0        08:33:25        80         6          37953             5
1        08:33:06       500        17      117573474             3
2        08:33:06       500        17      117573474             3
3        08:33:11       500        17       99743998             5
4        08:33:11       500        17       99743999             5
...           ...       ...       ...            ...           ...
1048570  02:33:29     55484         6           1252             5
1048571  02:33:29     57624         6          19055             5
1048572  02:33:29     57623         6          36677             5
1048573  02:33:29     57625         6           1849             5
1048574  02:33:29     58120         6          20580             5

         Tot Bwd Pkts  TotLen Fwd Pkts  TotLen Bwd Pkts  Fwd Pkt Len Max  \
0                   3              135              127              135
1                   0             1500                0              500
2                   0             1500                0              500
3                   0             2500                0              500
4                   0             2500                0              500
...               ...              ...              ...              ...
1048570             2              935              274              935
1048571             2              935              341              935
1048572             2              935              341              935
1048573             2              935              341              935
1048574             2              935              299              935

         Fwd Pkt Len Min  ...  Fwd Seg Size Min  Active Mean  Active Std  \
0                      0  ...                32          0.0         0.0
1                    500  ...                 8          0.0         0.0
2                    500  ...                 8          0.0         0.0
3                    500  ...                 8    4000290.0         0.0
4                    500  ...                 8    4000286.0         0.0
...                  ...  ...               ...          ...         ...
1048570                0  ...                20          0.0         0.0
1048571                0  ...                20          0.0         0.0
1048572                0  ...                20          0.0         0.0
1048573                0  ...                20          0.0         0.0
1048574                0  ...                20          0.0         0.0

         Active Max  Active Min   Idle Mean    Idle Std  Idle Max  Idle Min  \
0                 0           0         0.0         0.0         0         0
1                 0           0  58800000.0  23800000.0  75600000  42000000
2                 0           0  58800000.0  23800000.0  75600000  42000000
3           4000290     4000290  31900000.0  37900000.0  75600000   7200397
4           4000286     4000286  31900000.0  37900000.0  75600000   7200399
...             ...         ...         ...         ...       ...       ...
1048570           0           0         0.0         0.0         0         0
1048571           0           0         0.0         0.0         0         0
1048572           0           0         0.0         0.0         0         0
1048573           0           0         0.0         0.0         0         0
1048574           0           0         0.0         0.0         0         0

         DDOS
0           0
1           0
2           0
3           0
4           0
...       ...
1048570     0
1048571     0
1048572     0
1048573     0
1048574     0

[1046845 rows x 80 columns]>

In [ ]:
all_inf_or_nan = K.isin([np.inf, -np.inf, np.nan]).all(axis='columns')
K[~all_inf_or_nan]

,time,Dst Port,Protocol,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,DDOS
0,08:33:25,80,6,37953,5,3,135,127,135,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,0
1,08:33:06,500,17,117573474,3,0,1500,0,500,500,...,8,0.0,0.0,0,0,58800000.0,23800000.0,75600000,42000000,0
2,08:33:06,500,17,117573474,3,0,1500,0,500,500,...,8,0.0,0.0,0,0,58800000.0,23800000.0,75600000,42000000,0
3,08:33:11,500,17,99743998,5,0,2500,0,500,500,...,8,4000290.0,0.0,4000290,4000290,31900000.0,37900000.0,75600000,7200397,0
4,08:33:11,500,17,99743999,5,0,2500,0,500,500,...,8,4000286.0,0.0,4000286,4000286,31900000.0,37900000.0,75600000,7200399,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,02:33:29,55484,6,1252,5,2,935,274,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048571,02:33:29,57624,6,19055,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048572,02:33:29,57623,6,36677,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048573,02:33:29,57625,6,1849,5,2,935,341,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1048574,02:33:29,58120,6,20580,5,2,935,299,935,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0

In [ ]:
 K.dtypes

time              object
Dst Port           int64
Protocol           int64
Flow Duration      int64
Tot Fwd Pkts       int64
                  ...
Idle Mean        float64
Idle Std         float64
Idle Max           int64
Idle Min           int64
DDOS               uint8
Length: 80, dtype: object

In [ ]:
K.info

<bound method DataFrame.info of              time  Dst Port  Protocol  Flow Duration  Tot Fwd Pkts  \
0        08:33:25        80         6          37953             5
1        08:33:06       500        17      117573474             3
2        08:33:06       500        17      117573474             3
3        08:33:11       500        17       99743998             5
4        08:33:11       500        17       99743999             5
...           ...       ...       ...            ...           ...
1048570  02:33:29     55484         6           1252             5
1048571  02:33:29     57624         6          19055             5
1048572  02:33:29     57623         6          36677             5
1048573  02:33:29     57625         6           1849             5
1048574  02:33:29     58120         6          20580             5

         Tot Bwd Pkts  TotLen Fwd Pkts  TotLen Bwd Pkts  Fwd Pkt Len Max  \
0                   3              135              127              135
1                   0             1500                0              500
2                   0             1500                0              500
3                   0             2500                0              500
4                   0             2500                0              500
...               ...              ...              ...              ...
1048570             2              935              274              935
1048571             2              935              341              935
1048572             2              935              341              935
1048573             2              935              341              935
1048574             2              935              299              935

         Fwd Pkt Len Min  ...  Fwd Seg Size Min  Active Mean  Active Std  \
0                      0  ...                32          0.0         0.0
1                    500  ...                 8          0.0         0.0
2                    500  ...                 8          0.0         0.0
3                    500  ...                 8    4000290.0         0.0
4                    500  ...                 8    4000286.0         0.0
...                  ...  ...               ...          ...         ...
1048570                0  ...                20          0.0         0.0
1048571                0  ...                20          0.0         0.0
1048572                0  ...                20          0.0         0.0
1048573                0  ...                20          0.0         0.0
1048574                0  ...                20          0.0         0.0

         Active Max  Active Min   Idle Mean    Idle Std  Idle Max  Idle Min  \
0                 0           0         0.0         0.0         0         0
1                 0           0  58800000.0  23800000.0  75600000  42000000
2                 0           0  58800000.0  23800000.0  75600000  42000000
3           4000290     4000290  31900000.0  37900000.0  75600000   7200397
4           4000286     4000286  31900000.0  37900000.0  75600000   7200399
...             ...         ...         ...         ...       ...       ...
1048570           0           0         0.0         0.0         0         0
1048571           0           0         0.0         0.0         0         0
1048572           0           0         0.0         0.0         0         0
1048573           0           0         0.0         0.0         0         0
1048574           0           0         0.0         0.0         0         0

         DDOS
0           0
1           0
2           0
3           0
4           0
...       ...
1048570     0
1048571     0
1048572     0
1048573     0
1048574     0

[1046845 rows x 80 columns]>

In [ ]:
K.set_index('time',inplace=True)
K = K.astype('float')   #inplace 가 없음
K.reset_index(inplace=True)
K

,time,Dst Port,Protocol,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,DDOS
0,08:33:25,80.0,6.0,37953.0,5.0,3.0,135.0,127.0,135.0,0.0,...,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,08:33:06,500.0,17.0,117573474.0,3.0,0.0,1500.0,0.0,500.0,500.0,...,8.0,0.0,0.0,0.0,0.0,58800000.0,23800000.0,75600000.0,42000000.0,0.0
2,08:33:06,500.0,17.0,117573474.0,3.0,0.0,1500.0,0.0,500.0,500.0,...,8.0,0.0,0.0,0.0,0.0,58800000.0,23800000.0,75600000.0,42000000.0,0.0
3,08:33:11,500.0,17.0,99743998.0,5.0,0.0,2500.0,0.0,500.0,500.0,...,8.0,4000290.0,0.0,4000290.0,4000290.0,31900000.0,37900000.0,75600000.0,7200397.0,0.0
4,08:33:11,500.0,17.0,99743999.0,5.0,0.0,2500.0,0.0,500.0,500.0,...,8.0,4000286.0,0.0,4000286.0,4000286.0,31900000.0,37900000.0,75600000.0,7200399.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046840,02:33:29,55484.0,6.0,1252.0,5.0,2.0,935.0,274.0,935.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1046841,02:33:29,57624.0,6.0,19055.0,5.0,2.0,935.0,341.0,935.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1046842,02:33:29,57623.0,6.0,36677.0,5.0,2.0,935.0,341.0,935.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1046843,02:33:29,57625.0,6.0,1849.0,5.0,2.0,935.0,341.0,935.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1046844,02:33:29,58120.0,6.0,20580.0,5.0,2.0,935.0,299.0,935.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
 K.dtypes

time              object
Dst Port         float64
Protocol         float64
Flow Duration    float64
Tot Fwd Pkts     float64
                  ...
Idle Mean        float64
Idle Std         float64
Idle Max         float64
Idle Min         float64
DDOS             float64
Length: 80, dtype: object

In [ ]:
K

,time,Dst Port,Protocol,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,DDOS
0,08:33:25,80.0,6.0,37953.0,5.0,3.0,135.0,127.0,135.0,0.0,...,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,08:33:06,500.0,17.0,117573474.0,3.0,0.0,1500.0,0.0,500.0,500.0,...,8.0,0.0,0.0,0.0,0.0,58800000.0,23800000.0,75600000.0,42000000.0,0.0
2,08:33:06,500.0,17.0,117573474.0,3.0,0.0,1500.0,0.0,500.0,500.0,...,8.0,0.0,0.0,0.0,0.0,58800000.0,23800000.0,75600000.0,42000000.0,0.0
3,08:33:11,500.0,17.0,99743998.0,5.0,0.0,2500.0,0.0,500.0,500.0,...,8.0,4000290.0,0.0,4000290.0,4000290.0,31900000.0,37900000.0,75600000.0,7200397.0,0.0
4,08:33:11,500.0,17.0,99743999.0,5.0,0.0,2500.0,0.0,500.0,500.0,...,8.0,4000286.0,0.0,4000286.0,4000286.0,31900000.0,37900000.0,75600000.0,7200399.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046840,02:33:29,55484.0,6.0,1252.0,5.0,2.0,935.0,274.0,935.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1046841,02:33:29,57624.0,6.0,19055.0,5.0,2.0,935.0,341.0,935.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1046842,02:33:29,57623.0,6.0,36677.0,5.0,2.0,935.0,341.0,935.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1046843,02:33:29,57625.0,6.0,1849.0,5.0,2.0,935.0,341.0,935.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1046844,02:33:29,58120.0,6.0,20580.0,5.0,2.0,935.0,299.0,935.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
K.reset_index(drop=False, inplace=False)

,index,time,Dst Port,Protocol,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,DDOS
0,0,08:33:25,80.0,6.0,37953.0,5.0,3.0,135.0,127.0,135.0,...,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,08:33:06,500.0,17.0,117573474.0,3.0,0.0,1500.0,0.0,500.0,...,8.0,0.0,0.0,0.0,0.0,58800000.0,23800000.0,75600000.0,42000000.0,0.0
2,2,08:33:06,500.0,17.0,117573474.0,3.0,0.0,1500.0,0.0,500.0,...,8.0,0.0,0.0,0.0,0.0,58800000.0,23800000.0,75600000.0,42000000.0,0.0
3,3,08:33:11,500.0,17.0,99743998.0,5.0,0.0,2500.0,0.0,500.0,...,8.0,4000290.0,0.0,4000290.0,4000290.0,31900000.0,37900000.0,75600000.0,7200397.0,0.0
4,4,08:33:11,500.0,17.0,99743999.0,5.0,0.0,2500.0,0.0,500.0,...,8.0,4000286.0,0.0,4000286.0,4000286.0,31900000.0,37900000.0,75600000.0,7200399.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046840,1046840,02:33:29,55484.0,6.0,1252.0,5.0,2.0,935.0,274.0,935.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1046841,1046841,02:33:29,57624.0,6.0,19055.0,5.0,2.0,935.0,341.0,935.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1046842,1046842,02:33:29,57623.0,6.0,36677.0,5.0,2.0,935.0,341.0,935.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1046843,1046843,02:33:29,57625.0,6.0,1849.0,5.0,2.0,935.0,341.0,935.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1046844,1046844,02:33:29,58120.0,6.0,20580.0,5.0,2.0,935.0,299.0,935.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
K.dtypes

time              object
Dst Port         float64
Protocol         float64
Flow Duration    float64
Tot Fwd Pkts     float64
                  ...
Idle Mean        float64
Idle Std         float64
Idle Max         float64
Idle Min         float64
DDOS             float64
Length: 80, dtype: object

In [ ]:
K.to_csv('0620.csv', header=True, index=False)